#day1{
    width: 22%; 
    margin: 15px 1% 15px 3%;
}

#day2{
    width: 22%; 
    margin: 15px 1%;
}

#day3{
    width: 22%; 
    margin: 15px 1%;
}

#day4{
    width: 22%; 
    margin: 15px 2% 15px 1%;
}

.navbar{
    background-color: transparent;
}

.probootstrap-navbar .navbar-nav > li > a {
    color: white;
}

#checklistlogin{
    padding-bottom: 30px;
}

#chlist{
    margin-bottom: 15px;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 990px) {

    #logo{
        width: 180px;
    }

    

    .nav{
        background-color: transparent;
    }

    #navbar-collapse{
        background-color: transparent;
    }

    #wrapper{
        width: 90%;
    }

    #mainWeather{
        text-align: center
    }

    .day-weather-box{
        width: 80%;
        text-align: center;
    }

    #day1{
        float: left;
        width: 22%; 
        margin: 15px 1%;
        margin-left: 3%;
    }    
    
    #day2{
        float: left;
        width: 22%; 
        margin: 15px 1%;
    }
    
    #day3{
        float: left;
        width: 22%; 
        margin: 15px 1%;
    }
    
    #day4{
        float: left;
        width: 22%; 
        margin: 15px 2% 15px 1%;
    }    

}


@media (max-width: 770px) {

    #logo{
        width: 180px;
    }

    #wrapper{
        width: 90%;
    }

    #mainWeather{
        text-align: center
    }

    #forDays{
        width: 70%;
        margin: 0 auto;
    }

    #day1{
        width: 100%;
        text-align: center;
    }
    
    #day2{
        width: 100%;
        text-align: center;
    }
    
    #day3{
        width: 100%;
        text-align: center;
    }
    
    #day4{
        width: 100%;
        text-align: center;
    }

    

}

